__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

docs/_build/
docsets/

.ipynb_checkpoints/

.idea/
*.iml
*.iws
.idea/modules.xml
.idea/workspace.xml
.idea/.idea/misc.xml
.idea/dictionaries
.idea/shelf/
.idea/tasks.xml

.mypy_cache/
.dmypy.json
dmypy.json

.bandit

.python-version

celerybeat-schedule

.env
.env.*

venv/
ENV/
env/
venv.bak/